

body{
  font-family: 'Baloo Tamma 2', cursive;
background-color:  rgb(255, 200,100,.5);
}
body  {
  font-weight: 300;
  border: 1px dashed #000;

}


#main-header:hover{
  font-size:20px;
  color: red;

}

#main-header::before{

  width:10px;
  height=40px;
  background:#da5555;
  position: absolute;
  top: 20px;
  left: 50px;
}

#site-title {
  font-size: 60px;
  color: #0ff;

}
